.addToBasket{
    border-radius: 10px;
    width: 100%;
    align-self: center;
    padding:  5px 15px 5px 15px;
    margin-bottom: 10px;
    color: white;

    transition: background-color 0.2s ease, transform 0.15s ease;
    background-color: rgb(195, 62, 47);
    border: 1px solid rgb(195, 62, 47);
    font-family: var(--font-inter);
    font-size: medium;
}

.addToBasket:hover{
    background-color: white;
    border: 1px solid rgb(195, 62, 47);
    color: rgb(195, 62, 47);

}