.suggestedContentBackground {
    position: relative;
    margin: -1rem 0rem -1rem 0rem;
    width: 200px;
}

.selectedImage {
    border-radius: 20px;
    object-fit: cover;
    height: 300px;
    width: 200px;
    animation: fadeIn 200ms ease;
}

.overlayBackground {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.overlayText {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30%;
    padding: 10px;
    z-index: 2;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.overlayText p {
    margin: 0;
}

.itemName {
    font-weight: 600;
    line-height: 1.2;
    word-break: break-word;
}