.suggestContentContainer{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgb(246, 246, 246);
    height: 200px;
}

.carouselItemContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container{
    padding-top: 75px;
    padding-bottom: 100px;
}

.selectedWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.carouselButtonLeft,
.carouselButtonRight {
  position: absolute;
  top: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 999px;
  padding: 0.5rem 0.9rem;
  cursor: pointer;
}

.carouselButtonLeft {
  left: 50%;
  transform: translateX(-110%);
}

.carouselButtonRight {
  left: 50%;
  transform: translateX(10%);
}

.carouselButtonLeft:hover,
.carouselButtonRight:hover{
  background: rgba(69, 69, 69, 0.7);
  transition: background-color 0.2s ease, transform 0.15s ease;
}

.carouselChevron {
    color: white !important;
}


/*  */

.carouselItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.outerImage,
.innerImage {
  height: 150px;
  width: 150px;
  object-fit: cover;
  flex: 0 0 150px;
}

.sideImage{
    padding: 0px 10px 0px 10px;
}

@media (max-width: 1000px) {
  .outerImage {
    display: none;
  }
}

@media (max-width: 600px) {
  .innerImage {
    display: none;
  }

  .outerImage {
    display: none;
  }
}

.recommendedTitle{
  display: flex;
  font-size: large;
  justify-self: center;
  font-family: var(--font-inter);
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: large !important;
}

.loading {
  min-height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}