.header{
    font-size: large;
    font-weight: 500;
    padding-bottom: 10px;

}

.thankYouHeader{
    font-size: x-large;
    font-weight:bold;
    align-self: center; 
    font-weight: 500;
    font-family: var(--font-inter);
}

.checkEmail{
    font-size: small;
    color: rgb(148, 148, 148);
}

.smallHeader{
    color: rgb(148, 148, 148);
    font-size: small;
}

.orderTotalValue{
    color: rgb(148, 148, 148);
    font-size: small;
}

.address{
    font-size: small;
}

.halfPageContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.orderInfoWrapper{
    padding: 20px 0px 0px 0px;
}

.emailInfo{
    padding-bottom: 20px;
}

.pageContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.orderConfirmationContainer{
    display: flex;
    flex-direction: row;
    padding: 0px 50px 50px 50px;
    font-family: var(--font-inter);
    align-self: center;
}

.summaryContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 10px;
  align-items: flex-start;
}

.image {
  flex-shrink: 0;
  width: 150px;
  object-fit: cover;
}

.summaryInfoContainer {
  padding: 0px 10px 10px 10px;
  min-width: 0;
}


.summaryInfoGray{
    color: rgb(148, 148, 148);
    font-size: small;
}

.total{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    font-size: small;
    padding: 5px;
}

.totalGray{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    font-size: small;
    padding: 5px;
    color: rgb(148, 148, 148);

}


.priceInfo{
    padding-top: 10px;
}

@media (max-width: 800px) {
  .orderConfirmationContainer {
    flex-direction: column;
    padding: 0 20px 50px 20px;
    width: 100%;
  }

  .halfPageContainer {
    width: 100%;
    padding: 20px 0;
  }

  .summaryInfoGray{
    display: none;
  }

  .summaryContainer {
    flex-direction: column;
  }

  .summaryInfoContainer{
    padding: unset;
  }

}