.searchFilters{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    position: sticky;
    z-index: 4;  
    top:86px;
}

.filterItem{
    padding: 0px 10px 0px 10px;
}

.selectable{
    padding: 0px 10px 0px 10px;
}

.select{
    border: 1px;
    border-radius: 2px;
    padding: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.FilterDropDown{
    display: none;
}

@media (max-width: 1120) {
    .selectable{
        display: none;
    }

    .FilterDropDown{
        display:block;
    }
}