.title {
    font-size: 2rem;
    color: #333;
    text-align: center;
}

.subtitle {
    font-size: 1rem;
    color: #777;
}

.headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 10px 20px 10px;
    background-color: rgb(127, 147, 213);
}

.headerContainer .pagesContainer{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.headerContainer .logoContainer{
    display: flex;
    justify-content: flex-start;
    padding: 0px 10px 0px 10px
}

.circlePlaceholder {
    height: 50px;
    width: 50px;
    background-color: #a3a3a3;
    border-radius: 50%;
}